{% extends 'app1/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="text-center mt-5">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group">
                {% for fm in form %} <br>
                    <div>{{fm.label}}:</div>
                    <div class="mt-1">{{fm}}</div>
                {% endfor %}
                <div class="mt-2">
                    <input type="submit" value="Login" class="btn btn-primary"> <br>
                    Dont't have an account?
                    <a href="{% url 'signup' %}">Signup</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
